/* Estilo global */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff; /* Azul claro */
    color: #333;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    position: relative;
    text-align: center; /* Centraliza o texto principal */
    background-color: #005f99; /* Azul escuro */
    color: white;
    padding: 20px;
    border-bottom: 4px solid #003f66;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header p {
    font-size: 1.2em;
    margin: 5px 0;
}

/* Adicionando logo e textos nas laterais */
header .logo-container {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

header .logo {
    height: 80px;
}

header .text-container {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    text-align: right;
}

header .text-container h1, header .text-container h2 {
    margin: 0;
    font-size: 1.2em;
}

/* Seção de tabelas */
#tabelas {
    max-width: 90%;
    margin: 20px auto;
}

.table-container {
    margin-bottom: 40px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Permite rolagem horizontal */
    -webkit-overflow-scrolling: touch;
}

.table-container h2 {
    text-align: center;
    color: #005f99;
    margin-bottom: 20px;
}

table {
    width: 100%;
    min-width: 600px; /* Garantir que a tabela tenha um tamanho mínimo */
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 20px;
    table-layout: fixed; /* Garante que as células da tabela se ajustem corretamente */
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    word-wrap: break-word; /* Quebra o texto se necessário */
}

th {
    background-color: #005f99;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tfoot tr {
    background-color: #003f66;
    color: white;
    font-weight: bold;
}

/* Responsividade */
@media (max-width: 768px) {
    /* Cabeçalho */
    header {
        padding: 10px;
        text-align: center;
    }

    header .logo-container, header .text-container {
        position: static;
        transform: none;
        margin-top: 10px;
    }

    header .logo {
        height: 60px; /* Ajusta o tamanho da logo no celular */
    }

    header h1, header h2 {
        font-size: 1.2em; /* Ajusta o tamanho da fonte no celular */
    }

    /* Tabelas */
    .table-container {
        padding: 15px;
    }

    table {
        min-width: 100%; /* Garantir que a tabela ocupe toda a largura disponível */
        width: auto; /* Deixa a largura da tabela adaptável */
    }

    table th, table td {
        padding: 8px;
        font-size: 0.9em; /* Ajusta o tamanho da fonte da tabela */
    }

    footer p {
        font-size: 1em;
    }

    /* Corrige o problema de overflow da tabela */
    .table-container {
        overflow-x: auto;
    }
}
